.csf-index {
  padding: 3em 20%;
}

.csf-index-contact {
  display: flex;
  justify-content: center;
  margin-top: 8em;
}

.message {
  text-align: center;
}

@media (max-width: 765px) {
  .csf-index {
    padding: 0 5%;
  }
  .csf-index-vertical-devider {
    visibility: hidden;
  }
}
